<div id="content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
      <h1 class="h3 mb-0 text-gray-800">Plugs</h1>
    </div>


    <div class="row" *ngIf="loaded">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4" *ngFor="let plug of plugs">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{plug.alias}}</div>
                  <div class="h5 mb-0 font-weight-bold">{{plug.state.power | uppercase}}</div>
                  <!-- Rounded switch -->
                    <label class="switch">
                      <input *ngIf="plug.state.power === 'on'" type="checkbox" checked="checked"  (change)="offPlug(plug, $event)">
                      <input *ngIf="plug.state.power === 'off'" type="checkbox" (change)="onPlug(plug, $event)">                      <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-auto">
                    <i class="fas fa-plug fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

</div>
